<!DOCTYPE html>
<html>
  <head lang="zh-CN">
    <meta charset="UTF-8">
    <title>PDF预览</title>
    <!--scriptArea--><script>window.PDFJS = 111</script><!--endOfScriptAreaArea-->
  </head>
  <body>
    <div id="root">
      <%-component%>
    </div>
  </body>
</html> 